@page "/driver/{driverId}"

<head>
    <PageTitle>Beach Basket Courier View</PageTitle>
    <link rel="stylesheet" href="Driverstyle.css">
</head>
<body>

</body>

@code{
    [Parameter]
    public int driverId {get; set;}
}
