@page "/"
@rendermode InteractiveServer
@inject NavigationManager nav;
<PageTitle>IISstart</PageTitle>

<h1>Click here to start</h1>

<button @onclick="@ToRestPOV">Team 13 DDD - Begin</button>

@code{
    void ToRestPOV()
    {
        nav.NavigateTo("/login");
    } 
}