@page "/login"
@rendermode InteractiveServer
@inject NavigationManager nav;
<PageTitle>Login</PageTitle>

<div class="login-container">
    <form id="loginForm">

        <h1>Login</h1>


        <div class="input-group">
            <label for="username"><strong>Username:</strong></label><br>
            <input type="text" @bind-value=@Username id="username" required>
        </div>

        <div class="input-group">
            <label for="password"><strong>Password:</strong></label><br>
            <input type="password" @bind-value=@Password id="password" required>
        </div>

        <button @onclick="@LoginAuth" type="button">Login</button>

        <p></p>
    </form>
</div>


@code {
    private string Username { get; set; }
    private string Password { get; set; }

    void LoginAuth()
    {
        
        if(Username == "user" && Password == "password")
        {
            nav.NavigateTo("/home");

        }
        else
        {
            Console.WriteLine("Error, invalid login");
        }
    }
}
