<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <link rel="stylesheet" href="bootstrap/bootstrap.min.css" />
    <link rel="stylesheet" href="app.css" />
    <link rel="stylesheet" href="Login.css" />
    <link rel="stylesheet" href="BlazorBeachBasket.styles.css" />
    <link rel="icon" type="image/png" href="palm.png" />
    <HeadOutlet />
</head>

<body>
    <Routes />
    <script src="_framework/blazor.web.js"></script>
    <script>
        function InitCarousel() {
            $('.carousel').carousel({
                interval: 2000, // 2 seconds
                pause: 'hover' // Pause on hover
            });
        }
    </script>
</body>

</html>
